<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ pageName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="item-form" [formGroup]="itemForm">

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name" placeholder="Type name" [value]="itemForm.get('name').value"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Quantiy</ion-label>
      <ion-input formControlName="quantity" type="number"placeholder="Type quantity" [value]="itemForm.get('quantity').value"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Delivery date</ion-label>
      <ion-input formControlName="deliveryDate" [value]="deliveryDate"></ion-input>
      <ion-button fill="clear" id="delivery-date">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="delivery-date" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #deliveryDateInput
            presentation="date"
            (ionChange)="deliveryDate = formatDate(deliveryDateInput.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-label >Expire date</ion-label>
      <ion-input formControlName="expireDate" [value]="expireDate"></ion-input>
      <ion-button fill="clear" id="expire-date">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="expire-date" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #expireDateInput
            presentation="date"
            (ionChange)="expireDate = formatDate(expireDateInput.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  
  
    <ion-button class="submit-button" [disabled]="itemForm.invalid" (click)="addItem()" expand="block">{{itemButton}}</ion-button>

  </form>

</ion-content>
